.cartItem {
  width: auto;
  padding: 1.5rem;
  margin-bottom: 8px;
  position: relative;
  /* display: grid;
  grid-template-columns: 1fr 1fr; */
  gap: 8px;
  background: #fff;
  border-radius: 2px;
  place-items: center;
}
.cartitem-image{
  position: absolute;
}
.cartitem-image >img{
  object-fit: cover;
  height: 170px;
  width: 130px;
}
.cartitem-details-link {
  text-decoration: none;
  color: #282c3f;
  display: block;
  width: 80%;
  overflow: hidden;
  text-overflow: ellipsis;
  outline: 0;;
}
.cartitem-details{
  position: relative;
  min-height: 148px;
  margin-bottom: 8px;
  margin-left: 135px;
  padding-left: 12px;
  font-size: 1.25rem;
}
.cartitem-details-name{
  font-weight: 600;
  margin-bottom: 6px;
  width: 80%;
  text-overflow: ellipsis;
  line-height: 16px;
}
.cartitem-price{
  position: absolute;
  top:15px;
  right: 30px;
  display: inline-block;
  font-weight: 600;
  font-size: 1.35rem;
}
.cartItem-name:hover {
  color: #dd219e;
}
.cartItem select {
  padding: 5px 10px;
}
.cartitem-qty-size{
  padding: 12px 2px;
  display: inline-block;
  margin-right: 8px;
}
.cartitem-qty{
  display: inline-block;
  padding: 2px 0px;
  font-weight: 600;
  border-radius: 2px;
  line-height: 16px;
}
.cartitem-action-block{
  margin-top: 3rem;
  border-top: 1px solid #eaeaec;
}
.cartitem-delete {
  padding: 10px 7px !important;
    font-size: 1.5rem;
    letter-spacing: .5px;
    font-weight: 600;
    color: #696b79;
    text-decoration: none;
    cursor: pointer;
    border: none;
    background: none;
}
/* .cartitem-delete:hover,
.cartitem-delete:focus, */
/* .cartitem-delete:active {
  transform: scale(1.2);
  background: #171717;
} */

@media (max-width: 700px) {
  .cartItem-name {
    font-size: 1rem;
  }
  .cartItem select,
  .cartitem-delete {
    padding: 8px 12px;
  }
}
