.product {
  width: 270px;
  padding: 1.25rem;
  background: #fff;
  cursor: pointer;

  /* box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4); */
  margin: 8px auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.product > a img {
  height: 200px !important;
  border-radius: 2px;
}
.product-info {
  padding: 0 6px;
  box-sizing: border-box;
  overflow: hidden;
}
.product-price {
  font-size: 1.5rem;
  overflow: hidden;
  font-weight: bold;
  line-height: 1;
  color: #282c3f;
  margin-bottom: 6px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.product-name {
  font-size: 1.5rem;
  overflow: hidden;
  font-weight: bold;
  line-height: 1;
  color: #282c3f;
  margin-bottom: 6px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.product-description {
  font-size: 1.25rem;
  word-break: break-all;
  color: #535766;
  line-height: 1.2;
  font-weight: 400;
  margin-top: 0;
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-bottom: 10px 0 6px;
  min-height: 90px;
}

.product-view-btn {
  display: block;
  width: auto;
  text-decoration: none;
  /* text-align: center; */
  color: #171717;
  padding: 8px 16px;
  font-size: 1.5rem;
}

@media (max-width: 1232px) {
  .product {
    width: 360px;
  }
}
@media (max-width: 1115px) {
  .product {
    width: 330px;
  }
}
@media (max-width: 1028px) {
  .product {
    width: 270px;
  }
}
@media (max-width: 950px) {
  .product {
    width: 360px;
  }
}
@media (max-width: 830px) {
  .product {
    width: 300px;
  }
}
@media (max-width: 700px) {
  .product {
    width: 290px;
  }
}
@media (max-width: 630px) {
  .product {
    width: 420px;
  }
}
@media (max-width: 500px) {
  .product {
    width: 340px;
  }
}
@media (max-width: 400px) {
  .product {
    width: 280px;
  }
}
